
.tab-area{
    width: 80%;
    margin: 0 auto;
    }
    .tab-btn{
    display:none; /*タブの切り替えを制御するラジオボタンを非表示に*/
    }
    .tab-list-wrap{
    padding:0; /*デフォルトの値をクリア*/
    margin-top: 20px; /*デフォルトの値をクリア*/
    list-style-type:none; /*デフォルトの値をクリア*/
    display:flex; /*ボタンを横並びに*/
    justify-content:space-between; /*ボタンを横幅いっぱいに配置*/

    
    }
    
    .tab-list{
    display:block;
    width: 288px;
    padding: 8px 0;
    text-align:center;
    
    border-top:1px solid #4e7bcc;
    border-left:1px solid #4e7bcc;
    border-right:1px solid #4e7bcc;
    border-radius: 4px 4px 0 0;
    background: #c5daff;
    box-sizing:border-box; /*borderの値を横幅に含める*/
    cursor:pointer; /*オンマウス時にカーソルを指の形に*/


    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #323C59;
    }
    
    #tab-btn1:checked ~ .tab-list-wrap #tab-list1,
    #tab-btn2:checked ~ .tab-list-wrap #tab-list2,
    #tab-btn3:checked ~ .tab-list-wrap #tab-list3,
    #tab-btn4:checked ~ .tab-list-wrap #tab-list4{
    background:#ffffff; /*対応するボタンにチェックが入ったときに背景を#ffffff（白）に*/
    }
    .tab-content{
    padding:20px;
    display:none; /*初期状態を非表示に*/
    margin-bottom: 50px;
    }
    #tab-btn1:checked ~ .tab-content-wrap #tab-content1,
    #tab-btn2:checked ~ .tab-content-wrap #tab-content2,
    #tab-btn3:checked ~ .tab-content-wrap #tab-content3,
    #tab-btn4:checked ~ .tab-content-wrap #tab-content4{
    display: block;/*対応するボタンにチェックが入ったときに表示*/
    }


    #tab-content1{
        background-color: #FFDBDB;
        border-radius: 20px;
        margin-top: 20px;
    }
    #tab-content1 ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap; 
        margin-right: 0;
        justify-content: center;
    }
    #tab-content1 li{
        display: block;
        flex-direction: row;
        padding: 2em 0.5em;
        margin:30px 30px 30px 10px;
        text-align: center;
        font-weight: bold;
        color: #364159;/*文字色*/
        background-color: #FFDBDB;
        border: solid 3px #364159;/*線*/
        border-radius: 10px;/*角の丸み*/
    }
    #tab-content1 h3{
        text-align: center;
        margin-bottom: 7px;
        font-family: 'Lato', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-size: 30px;
        margin-top: 10px;
    }
    .iii{
        text-align: center;
    }
    .btn-flat-simple {
        text-align: center;
        margin-top: 7px;
        margin-bottom: 10px;
        position: relative;
        display: inline-block;
        font-weight: bold;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #323C59;
        background-color: #ECECEC;
        border-radius: 5px;
        transition: .4s;
    }    
    .btn-flat-simple:hover {
        background-color: #323C59;
        color: #ECECEC;
    }
    .link {
        text-decoration: none;
        color: #323C59 ;
        
    }
    .link:hover{
        background-color: #323C59;
        color: #ECECEC;
    }
    



    #tab-content2{
        background-color: #FFDBDB;
        border-radius: 20px;
        margin-top: 20px;
    }
    #tab-content2 ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        justify-content: center;
    }
    #tab-content2 li{
        display: block;
        flex-direction: row;
        padding: 2em 0.5em;
        margin:30px 30px 30px 10px;
        text-align: center;
        font-weight: bold;
        color: #364159;/*文字色*/
        background-color: #FFDBDB;
        border: solid 3px #364159;/*線*/
        border-radius: 10px;/*角の丸み*/
    }
    #tab-content2 h3{
        text-align: center;
        margin-bottom: 7px;

        font-family: 'Lato', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-size: 30px;
        margin-top: 10px;
    }
    .ddd{
        text-align: center;
    }




