.tab-area{
    width: 80%;
    margin: 0 auto;
    }
    .tab-btn{
    display:none; /*タブの切り替えを制御するラジオボタンを非表示に*/
    }
    .tab-list-wrap{
    padding:0; /*デフォルトの値をクリア*/
    margin: 0; /*デフォルトの値をクリア*/
    list-style-type:none; /*デフォルトの値をクリア*/
    display:flex; /*ボタンを横並びに*/
    justify-content:space-between; /*ボタンを横幅いっぱいに配置*/

    
    }
    
    .tab-list{
    display:block;
    width: 288px;
    padding: 8px 0;
    text-align:center;
    border-top:1px solid #4e7bcc;
    border-left:1px solid #4e7bcc;
    border-right:1px solid #4e7bcc;
    border-radius: 4px 4px 0 0;
    background: #c5daff;
    box-sizing:border-box; /*borderの値を横幅に含める*/
    cursor:pointer; /*オンマウス時にカーソルを指の形に*/


    }
    
    #tab-btn1:checked ~ .tab-list-wrap #tab-list1,
    #tab-btn2:checked ~ .tab-list-wrap #tab-list2,
    #tab-btn3:checked ~ .tab-list-wrap #tab-list3,
    #tab-btn4:checked ~ .tab-list-wrap #tab-list4{
    background:#ffffff; /*対応するボタンにチェックが入ったときに背景を#ffffff（白）に*/
    }
    .tab-content{
    padding:20px;
    display:none; /*初期状態を非表示に*/
    }
    #tab-btn1:checked ~ .tab-content-wrap #tab-content1,
    #tab-btn2:checked ~ .tab-content-wrap #tab-content2,
    #tab-btn3:checked ~ .tab-content-wrap #tab-content3,
    #tab-btn4:checked ~ .tab-content-wrap #tab-content4{
    display: block;/*対応するボタンにチェックが入ったときに表示*/
    }





    
    .first-block{
        width: 100%;
        background-color: #323C59;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 20px;
    }
    .first-img{
        width: 600px;
        height: 300px;
        margin: 20px;
        border-radius: 20px;
    }
    .first-text{
        width: 480px;   
        background-color: #F2C9D1;
        border-radius: 20px;
        margin: 50px 30px;
    }
    .first-text span{
        font-family: 'Lato', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-size: 30px;
    }
    .first-text ul{
        padding: 20px;
    }
    .first-text ul li{
        margin-left: 140px;
        text-align: left;    
    }
    .btn-flat-simple{
        margin-top: 5px;
    }


    .second-block{
        width: 100%;
        background-color: #323C59;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 30px 0;
    }
    .second-text{
        width: 480px;
        background-color: #F2C9D1;
        border-radius: 20px;
        margin: 50px 30px;
    }
    .second-text span{
        font-family: 'Lato', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-size: 30px;
    
    }
    .second-text ul{
        padding: 20px;
    }
    .second-text ul li{
        margin-left: 180px;
        text-align: left; 
    }
    .second-img{
        width: 600px;
        height: 300px;
        margin: 20px;
        border-radius: 20px;
    }



    .third-block{
        width: 100%;
        background-color: #323C59;;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 20px;
    }
    .third-img{
        width: 600px;
        height: 300px;
        margin: 20px;
        border-radius: 20px;
    }
    .third-text{
        width: 480px;
        background-color: #F2C9D1;
        border-radius: 20px;
        margin: 50px 30px;
    }
    .third-text span{
        font-family: 'Lato', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-size: 30px;
    }
    .third-text ul{
        padding: 20px;
    }
    .third-text ul li{
        margin-left: 100px;
        text-align: left;
    }



    .forth-block{
        width: 100%;
        background-color: #323C59;;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 20px;
    }
    .forth-text{
        width: 480px;
        
        background-color: #F2C9D1;
        border-radius: 20px;
        margin: 50px 30px;
    }
    .forth-text span{
        font-family: 'Lato', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-size: 30px;
    }
    .forth-text ul{
        padding: 20px;
    }
    .forth-text ul li{
        margin-left: 100px;
        text-align: left;
    }
    .forth-img{
        width: 600px;
        height: 300px;
        margin: 20px;
        border-radius: 20px;
    }


    .fifth-block{
        width: 100%;
        background-color: #323C59;;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 20px;
    }
    .fifth-text{
        width: 480px;
        background-color: #F2C9D1;
        border-radius: 20px;
        margin: 50px 30px;
    }
    .fifth-text span{
        font-family: 'Lato', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-size: 30px;
    }
    .fifth-text ul{
        padding: 20px;
    }
    .fifth-text ul li{
        margin-left: 140px;
        text-align: left;
    }
    .fifth-img{
        width: 600px;
        height: 300px;
        margin: 20px;
        border-radius: 20px;
    }
